* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
}

.wrapper {
  background-color: rgba(255,255,255,.85);
  height: 70%;
  left: 15%;
  padding: 20px;
  position: absolute;
  top: 15%;
  width: 70%;
}

h1 {
  color: #FFFFFF;
  font-size: 2.4em;
  font-weight: 800;
  margin: 0;
  padding: 0;
  text-align: center;
}

article {
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4em;
  padding-top: 20px;
  text-align: center;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
}

.overlay {
  background: rgba(255,255,255,0.5);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -99;
  background-size: cover;
  transition: 1s opacity;
}

form {
  text-align:center;
}

input[type="email"] {
  border: none;
  border-radius: 2px;
  color: #424A54;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  padding: 5px;
  text-align:center;
}

input[type="submit"] {
  background-color: #E6E9ED;
  border: 2px solid #E6E9ED;
  border-radius: 2px;
  color: #424A54;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-top: 20px;
}

input[type="submit"]:hover, input[type="submit"]:active {
  background-color: #424A54;
  border: 2px solid #FFFFFF;
  color: #E6E9ED;
}

.noise:before{
  content: "";
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  top:0;
  bottom:0;
  left:0;
  right:0;
  }

.gradient-mask-text{
  width: 60vw;
  margin: 0 auto;
  position: relative;
  background: transparent;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #61c2ff), color-stop(100%, #cd4444));
  background: -webkit-linear-gradient(-45deg, #61c2ff 0%, #cd4444 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

article.gradient-mask-text:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    width: 252px;
    margin-left: -126px;
    height: 1px;
    background: #6bb6ee;
}

.gradient-mask-text:before {
    top: 0;
    background: #6bb6ee;
    background: -moz-linear-gradient(-45deg, #6bb6ee 0%, #8a92b8 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #6bb6ee), color-stop(100%, #8a92b8));
    background: -webkit-linear-gradient(-45deg, #6bb6ee 0%, #8a92b8 100%);
    background: -o-linear-gradient(-45deg, #6bb6ee 0%, #8a92b8 100%);
    background: -ms-linear-gradient(-45deg, #6bb6ee 0%, #8a92b8 100%);
    background: linear-gradient(135deg, #6bb6ee 0%, #8a92b8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6bb6ee', endColorstr='#8a92b8',GradientType=1 );
}

.gradient-mask-text:after {
    bottom: 0;
    background: #9389aa;
    background: -moz-linear-gradient(-45deg, #9389aa 0%, #b5606d 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #9389aa), color-stop(100%, #b5606d));
    background: -webkit-linear-gradient(-45deg, #9389aa 0%, #b5606d 100%);
    background: -o-linear-gradient(-45deg, #9389aa 0%, #b5606d 100%);
    background: -ms-linear-gradient(-45deg, #9389aa 0%, #b5606d 100%);
    background: linear-gradient(135deg, #9389aa 0%, #b5606d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9389aa', endColorstr='#b5606d',GradientType=1 );
}
