* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}

.vid-container{
  height:100vh;
  overflow:hidden;
  position:relative;
}

.bgvid.back {
  height: auto;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: auto;
  z-index: -100;
}

.inner-container{
  height:70%;
  left:calc(50vw - 30%);
  overflow:hidden;
  position:absolute;
  top:calc(50vh - 35%);
  width:60%;
}

.box{
  background:rgba(0,0,0,0.63);
  color: #FFF;
  height:100%;
  padding:30px 0px;
  position:absolute;
  width:100%;
}

.box h1{
  margin:20px 0;
  text-align:center;
}

.box input[type="email"]{
  background:rgba(0,0,0,0.2);
  border:0;
  color:#fff;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  margin:0px auto;
  padding: 5px;
  text-align:center;
  width:70%;
}

.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}

h1 {
  color: #FFFFFF;
  font-size: 2.4em;
  font-weight: 800;
  margin: 0;
  padding: 0;
  text-align: center;
}

article {
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4em;
  padding-top: 20px;
  text-align: center;
}

form {
  text-align:center;
}

input[type="submit"] {
  background-color: #E6E9ED;
  border: 2px solid #E6E9ED;
  border-radius: 2px;
  color: #424A54;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-top: 20px;
}

input[type="submit"]:hover, input[type="submit"]:active {
  background-color: #FA8950;
  border: 2px solid #FFFFFF;
  color: #FFF;
}

.gradient-mask-text{
  background: transparent;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #FF6B42), color-stop(100%, #F7D992));
  background: -webkit-linear-gradient(-45deg, #FF6B42 0%, #F7D992 100%);
  background-clip: text;
  margin: 0 auto;
  position: relative;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 60vw;
}

article.gradient-mask-text:before {
  background: #F7D992;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -126px;
  position: absolute;
  width: 252px;
}

.gradient-mask-text:before {
    background: #F7D992;
    background: -moz-linear-gradient(-45deg, #F7D992 0%, #FA8950 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #F7D992), color-stop(100%, #FA8950));
    background: -webkit-linear-gradient(-45deg, #F7D992 0%, #FA8950 100%);
    background: -o-linear-gradient(-45deg, #F7D992 0%, #FA8950 100%);
    background: -ms-linear-gradient(-45deg, #F7D992 0%, #FA8950 100%);
    background: linear-gradient(135deg, #F7D992 0%, #FA8950 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7D992', endColorstr='#FA8950',GradientType=1 );
    top: 0;
}

.gradient-mask-text:after {

    background: #FF6B42;
    background: -moz-linear-gradient(-45deg, #FF6B42 0%, #b5606d 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #FF6B42), color-stop(100%, #b5606d));
    background: -webkit-linear-gradient(-45deg, #FF6B42 0%, #b5606d 100%);
    background: -o-linear-gradient(-45deg, #FF6B42 0%, #b5606d 100%);
    background: -ms-linear-gradient(-45deg, #FF6B42 0%, #b5606d 100%);
    background: linear-gradient(135deg, #FF6B42 0%, #b5606d 100%);
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6B42', endColorstr='#b5606d',GradientType=1 );
}
